{%  extends 'deskapp/main.html' %}
{% load static %}
{% block content %}


<style>
    .show {
        display: block;
    }

    .hide {
        display: none;
    }
</style>

<body class="sb-nav-fixed">
    {%  include 'deskapp/navbar.html' %}
    <div id="layoutSidenav">
        {%  include 'deskapp/sidebar.html' %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div class="row form-group"></div>
                    <div class="row">
                        <div class="col-xl-12 mx-auto">
                            <div class="card mb-4">
                                <div class="card-header"><strong>Issue Token to User</strong></div>
                                <div class="card-body">
                                    <form method="POST" action="" id="granttokenform">
                                        {% csrf_token %}
                                        <!-- <h3 class="mt-4" style="margin: 3% 0% 3% 0%;"></h3> -->
                                        {% if user.groups.all.0.name == 'admin'%}
                                        <div class="form-row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Select User Type</label>
                                                    <select class="form-control" name="usertype" id="usertype"
                                                        onchange="displayUserType()" data-placeholder="Select User Type"
                                                        data-allow-clear="1">
                                                        <option></option>
                                                        <option>Stockist</option>
                                                        <option>Retailer</option>
                                                    </select>
                                                    <small class="form-text text-muted">Select user type who will
                                                        receive tokens.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row hide" id="stockistDisplay">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>All Stockist</label>
                                                    <select class="form-control" name="stockistusername"
                                                        onchange="updateToken('stockist')" id="stockistusername"
                                                        data-placeholder="Select stockist" data-allow-clear="1">
                                                        <option></option>
                                                        {% for i in allstockists %}
                                                        <option>{{i}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <small class="form-text text-muted">Select stockist to issue
                                                        token</small>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if user.groups.all.0.name == 'stockist'%}
                                        <div class="form-row always hide">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>My Tokens</label>
                                                    <input type="number" class="form-control" name="my_tokens_amount"
                                                        id="my_tokens_amount" value="{{stockist_token}}" readonly>
                                                    <small class="form-text text-muted">Maximum Tokens which can be
                                                        issued by me.</small>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="form-row hide" id="retailerDisplay">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>All Retailer</label>
                                                    <select class="form-control" name="retailerusername"
                                                        onchange="updateToken('retailer')" id="retailerusername"
                                                        data-placeholder="Select retailer" data-allow-clear="1">
                                                        <option></option>
                                                        {% for i in allretailers %}
                                                        <option>{{i}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <small class="form-text text-muted">Select retailer to issue
                                                        token</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row always hide">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Currently Available Tokens</label>
                                                    <input type="number" class="form-control"
                                                        name="current_token_amount" id="current_token_amount"
                                                        placeholder="Updated after selecting user" readonly>
                                                    <small class="form-text text-muted">Tokens selected user currently
                                                        has.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row always hide">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Token Amount</label>
                                                    <input type="number" class="form-control" name="token_amount"
                                                        id="token_amount" placeholder="Enter amount">
                                                    <small class="form-text text-muted">No. of token to be
                                                        credited</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row always hide">
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <a type="button" class="btn btn-secondary"
                                                        href="{% url 'dashboard' %}">Cancel</a>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-1"></div> -->
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary"
                                                        id="submit_btn">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="{% static '/js/scripts.js' %}"></script>
    <script>
        $('select').select2({
            theme: 'bootstrap4',
        });

        issuable_tokens = Number($("#my_tokens_amount").val())
        if (Number.isNaN(issuable_tokens)){
            issuable_tokens = 100000
        }

        $().ready(function () {
            $("#granttokenform").validate({
                rules: {
                    stockistusername: {
                        required: true
                    },
                    retailerusername: {
                        required: true
                    },
                    token_amount: {
                        required: true,
                        min: 1,
                        max: issuable_tokens
                    }
                },
                messages: {
                    stockistusername: "(Select Stockist to add tokens)",
                    retailerusername: "(Select Retailer to add tokens)",
                    token_amount: {
                        required: "(Please enter token amount)"
                    }
                }
            });
        });

        let user_role = "{{user.groups.all.0.name}}"
        let allretailers = JSON.parse("{{allretailers | safe}}".replace(/'/g, '"'))
        let allstockists;

        if (user_role == 'stockist') {
            $("#stockistDisplay").addClass("hide");
            $("#retailerDisplay").removeClass("hide");
            $(".always").removeClass("hide");
        } else {
            // this list will only be returned when type is of admin
            allstockists = JSON.parse("{{allstockists | safe}}".replace(/'/g, '"'))
        }

        let updateToken = function (usertype) {
            if (usertype == 'stockist') {
                $("#current_token_amount").val(allstockists[$("#stockistusername").val()])
            } else {
                $("#current_token_amount").val(allretailers[$("#retailerusername").val()])
            }
        }

        let displayUserType = function () {
            if ($("#usertype").val() == 'Stockist') {
                $("#retailerDisplay").addClass("hide");
                $("#stockistDisplay").removeClass("hide");
                $(".always").removeClass("hide");
            } else if ($("#usertype").val() == 'Retailer') {
                $("#stockistDisplay").addClass("hide");
                $("#retailerDisplay").removeClass("hide");
                $(".always").removeClass("hide");
            } else {
                $("#stockistDisplay").addClass("hide");
                $("#retailerDisplay").addClass("hide");
                $(".always").addClass("hide");
            }
        }
    </script>
</body>

{% endblock %}