{%  extends 'deskapp/main.html' %}
{% load static %}
{% block content %}

<body class="sb-nav-fixed">
    {%  include 'deskapp/navbar.html' %}
    <div id="layoutSidenav">
        {%  include 'deskapp/sidebar.html' %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div class="row form-group"></div>
                    <div class="row">
                        <div class="col-xl-12 mx-auto">
                            {% if user.groups.all.0.name == 'admin'%}
                            <div class="card mb-4">
                                <div class="card-header"><strong>Update All Retailer Probability</strong></div>
                                <div class="card-body">
                                    <form method="POST" action="" id="probabilityform">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Manual Entry</label>
                                                    <input type="number" class="form-control" name="probability"
                                                        id="probability" placeholder="Manual Entry (probability) (%)">
                                                    <small class="form-text text-muted">Enter win probability for
                                                        retailer in %</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <a type="button" class="btn btn-secondary"
                                                        href="{% url 'dashboard' %}">Cancel</a>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-1"></div> -->
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary"
                                                        id="submit_btn">Update</button>
                                                </div>
                                            </d iv>
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="{% static '/js/scripts.js' %}"></script>
    <script>
        
        $().ready(function () {

            $("#probabilityform").validate({
                rules: {
                    probability: {
                        required: true,
                        digits: true,
                        min: 1,
                        max: 100
                    }
                },
                messages: {
                    probability: {
                        required: "(Enter appropriate probability)"
                    }
                }
            });
        });
    </script>
</body>

{% endblock %}